  <!-- PAGE NEWSLETTER -->
  <footer class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="../skull.png" class="img-fluid skull" alt="...">
            </div>
            <div class="col-lg-8 title-newsletter">
                <h4 class="text-white fw-light">Want to stay in <br> touch ?</h4>
                <h1 class="text-white fw-light">NEWSLETTER<br> SUBSCRIBE</h1>
                <p class="text-white"> In order to start receiving our news, all you have to do is enter
                    your email address. Everything else will be taken care of you. We
                    will send you emails containing information about game. We don't
                    spam.
                </p>
                <div class="row py-4">
                    <div class="col-lg-6">
                        <form class="form-floating">
                            <input type="email" class="form-control bg-dark text-warning" id="floatingInputValue" placeholder="youremail@binar.co.id" value="youremail@binar.co.id">
                            <label for="floatingInputValue" class="text-muted">Your email address</label>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <button class="btn btn-lg btn-warning btn-subscribe">Subscribe now</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="row footer-link">
            <div class="col-lg-12 text-end">
                <a href="headerNavbar">MAIN</a>
                <a href="#gallery">ABOUT</a>
                <a href="#features">GAME FEATURES</a>
                <a href="#requirement">SYSTEM REQUIREMENTS</a>
                <a href="#top-score">QUOTES</a>
                <a href="https://facebook.com/"><img src="../facebook.svg" class="img-fluid" alt="facebook"></a>
                <a href="https://twitter.com/"><img src="../twitter.svg" class="img-fluid" alt="twitter"></a>
                <a href="https://youtube.com/"><img src="../vector.svg" class="img-fluid" alt="youtube"></a>
                <a href="https://twitch.tv/"><img src="../twitch.svg" class="img-fluid" alt="twitch"></a>
            </div>

            <div class="col-lg-12 text-center">
                <hr class="text-muted">
            </div>

            <div class="col-lg-12 footer-end">
                <div class="row">
                    <div class="col-lg-5 d-flex justify-content-start copyright">
                        <p class="text-muted">© 2018 Your Games, inc. All Rights Reserved</p>
                    </div>
                    <div class="col-lg-7 text-white d-flex justify-content-end policy">
                        <a href="">PRIVACY POLICY</a><i class="pager">|</i>
                        <a href=""> TERMS OF SERVICES</a><i class="pager">|</i>
                        <a href="">CODE OF CONDUCT</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>
</body>

</html>