body {
    background-color: #9C835F;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    font-size: 18px;
}

header .container{
    margin-right: 200px;
}

#back {
    margin-top: 10px;
}

#back h1 a{
    text-decoration: none;
    color: #724C21;
    font-weight: 700;
}

#logo {
    margin-left: -50px;
}

#title-header {
    margin-top: 20px;
}

#title-header h4 {
    color: #F9B23D;
    font-weight: 700;
}

main {
    margin-top: 60px;
}

.user h3 {
    font-weight: 700;
    letter-spacing: 4px;
}

.user button {
    margin: 50px auto;
}

.user button img {
    height: 30%;
    width: 30%;
}

.comp h3 {
    font-weight: 700;
    letter-spacing: 4px;
}

.comp button {
    margin: 50px auto;
}

.comp button img {
    height: 30%;
    width: 30%;
}

.text-middle {
    align-self: center;
}

.text-middle #versus h1 {
    font-weight: 700;
    color: #BD0000;
    font-size: 144px;
    line-height: 196px;
}

.refresh button img {
    height: 30%;
    width: 30%;
}

main .row .user button {
    padding: 50px 0px 50px 0px;
    margin: 20px 0px 20px 80px;
    border-radius: 25px;
    width : 60%;
}

main .row .user button img{
    width : 60%;
    height : 60%;
}

main .row .comp button {
    padding: 50px 0px 50px 0px;
    margin: 20px 0px 20px 80px;
    border-radius: 25px;
    width : 60%;
}

main .row .comp button img {
    width : 60%;
    height : 60%;
}

#versus {
    border-radius: 10px;
}

.block {
    cursor: not-allowed;
    pointer-events: none;
}

.refresh:focus {
    outline: 0;
    border: 0px;
}
button:active {
    outline: 0;
    border: none;
}

.btn-link:focus{
    box-shadow: none;
}

img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
  
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
