* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
    font-size: 18px;
}

/*PAGE HOME*/
header {
    display: flex;
    flex-direction: column;
    background-image: url('../../main-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    max-width: 1359px;
    height: 150vh;
    background-position: center;
}

.navbar {
    width: 100%;
    background-color: rgba(0,0,0,.2);
    padding-top: 15px;
    padding-bottom: 15px;
}

#navbarText ul li a:hover {
    color: #FBB341 !important;
}

.navbar-brand:hover {
    color: #FBB341;
}

.navbar-brand {
    font-weight: 700;
    font-size: 25px;
    color: white;
    padding: 0px 20px;
    text-decoration: none;
}

.collapse ul li a {
    color: white !important;
    padding: 0 20px !important;
    font-size: 12px;
    font-weight: 700;
}

.text-page-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1359px;
}

.text-page-1 h1 {
    display: flex;
    font-weight: bold;
    color: white;
    margin: 250px auto 60px auto;

    font-size: 80px;
    text-shadow: 1px 1px 2px black;
}

.text-page-1 h3 {
    display: flex;
    margin: 0px auto 40px auto;
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.text-page-1 a {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    width: 30%;
    max-width: 200px;
    margin: 20px auto;
    justify-content: center;
}

.scroll-down {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1359px;
}

.btn-scroll-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

.btn-scroll-down .text-scroll-down{
    display: flex;
    color: white;
    font-size: 16px;
    margin: 150px auto 0px auto;
}

.btn-scroll-down .img-scroll-down {
    display: flex;
    background-image: url('../../scroll-down.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20%;
    margin: 0 auto;
}

/*PAGE GALLERY*/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('../../the-games-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    height: 150vh;
    width: 100%;
    max-width: 1359px;
    background-position: center;
}

.gallery .left-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
}

.gallery .left-content .text-page-2 {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: white;
    font-size: 30px;
    width: 100%;
    padding: 250px 50px 0px 100px;
}

.gallery .left-content .text-page-2 h1 {
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.gallery .left-content .text-page-2 h3 {
    font-weight: bold;
    color: white;
    font-size: 24px;
}

.gallery .right-content {
    flex-direction: column;
    flex-wrap: wrap;
    width: 65%;
    margin: 300px 0px 0px 0px;
}

.gallery .right-content .scroll-slider {
    width: 90%;
}

.carousel {
    display: flex;
    width: 100%;
}

.carousel-control-prev-icon {
    background-image: url('../../switch-left.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    margin-left: -150px;
}

.carousel-control-next-icon {
    background-image: url('../../switch-right.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    margin-right: -150px;
}

.carousel .carousel-indicators button {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid white;
}

/*PAGE FEATURES*/

.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('../../features.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    height: 150vh;
    width: 100%;
    max-width: 1359px;
    background-position: center;
}

.features .left-features {
    width: 55%;
}

.features .right-features {
    margin-top: 150px;
    width: 45%;
    justify-content: center;
}

.features .right-features h1 {
    font-size: 80px;
    font-weight: bold;
    color: white;
}

.features .right-features h3 {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.features .right-features .timeline {
    display: flex;
    flex-direction: column;
}

.features .right-features .timeline p{
    color: #FBB341;
}

.features .right-features .timeline p img{
    padding : 20px;
}

.line {
    border-left: 3px solid white;
    height: 200px;
    margin : -40px 0px -21px 27px;
}

.line p {
    margin : 20px 0px 0px 18px;
    color : white !important;
}

/*PAGE REQUIREMENT*/

.requirement {
    display: flex;
    /*supaya menyusun flex secara column*/
    flex-direction: column;
    background-image: url('../../requirements.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    max-width: 1359px;
    height: 150vh;
    /*pas di resize posisi background tetap bagian tengah */
    background-position: center;
}

.title-requirement {
    color : white;
    margin: 120px auto 80px auto;
}

.left-requirement {
    margin-left: 100px;
}

.requirement .left-requirement .sub-title-requirement {
    color: white;
    font-size: 60px;
}

table tbody tr td h4 {
    color: #FBB341;
}

/*PAGE TOP SCORE*/

.top-score {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url('../../top-score-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    
    width: 100%;
    max-width: 1359px;
    height: 150vh;
    background-position: center;
}

.left-top-score {
    margin-top: 300px;
}

.left-top-score h1 {
    font-size: 50px;
}

.left-top-score .btn-top-score {
    margin: 40px 0px 0px 0px;
}

.left-top-score .btn-top-score a{
    font-size: 14px;
    font-weight: bold;
}

.right-top-score {
    margin-top: 150px;
}

.right-top-score div .card-box{
    margin-bottom: 20px;
}

.orange {
    background-image: url('../../ellipse-orange.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 65%;
    width: 80%;
    margin-top: -69px;
    margin-left: 15px;
}

.profile {
    border-radius: 50%;
    margin: 10px;
    height: 60%;
    width: 80%;
}

.name-card {
    font-size: 20px;
    color: #FBB341;
    letter-spacing: 2px;
}

.job-card {
    margin-top: -10px;
    font-size: 14px;
}

.twitter {
    height: 20%;
}

.card-body {
    margin-top: -25px;
}

.card-body .date{
    margin-top: -5px;
    font-size: 14px;
}

/*PAGE NEWSLETTER*/
.newsletter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url('../../newsletter.png');
    background-size: cover;
    background-repeat: no-repeat;

    height: 150vh;
    width: 100%;
    max-width: 1359px;
    background-position: center;    
}

.newsletter .container {
    margin-top: 80px;
}

.btn-subscribe {
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}

.footer-link .text-end {
    margin: 100px 0px 20px 0px;
}

.footer-link .text-end a{
    text-decoration: none;
    margin: 0px 15px 0px 15px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.footer-end div .policy a{
    text-decoration: none;
    margin: 0px 10px 0px 10px;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/* RESPONSIVE DESIGN */

@media only screen and (max-width:1115px)
{
    /*HOME*/
    .text-page-1 h1 {
        font-size: 70px;
        text-align: center;        
    }

    .text-page-1 h3 {
        font-size: 20px;
        text-align: center;        
    }

    /*GALLERY*/
    .gallery {
        flex-direction: column;
        width: 100%;
        max-width: 1115px;
    }

    .gallery .left-content {
        width: 100%;
        max-width: 1115px;
        flex: 1 0 calc(100% - 8px);
        
    }

    .gallery .left-content .text-page-2 {
        width: 100%;
        max-width: 1115px;
        align-items: center;
    }

    .gallery .right-content {
        width: 100%;
        max-width: 1115px;
        flex: 1 0 calc(100% - 8px);
    }

    .gallery .right-content .scroll-slider {
        margin: -400px auto;
    }

    .carousel {
        height: 100%;
        width: 100%;
    }

    img {
        height: 400px;
        max-width: 900px;
        margin: 0px auto;
    }

    /*PAGE FEATURES*/
    .features .left-features {
        width: 0%;
        display: none;
    }

    .features .right-features {
        margin-left: 55%;
    }

    .features .right-features h1 {
        font-size: 50px !important;
    }
    
    .features .right-features h3 {
        font-size: 15px;
    }

    .el-1 {
        height: 10px;
        width: 10px;
        padding : 20px;
        background: url('../../ellipse.svg');
        background-position: center center;
        background-repeat: no-repeat;
    }

    .el-2 {
        height: 10px;
        width: 10px;
        padding : 20px;
        background: url('../../ellipse-outline.svg');
        background-position: center center;
        background-repeat: no-repeat;
        margin-top: 8px;
    }

    .el-3 {
        height: 10px;
        width: 10px;
        padding : 20px;
        background: url('../../ellipse-outline.svg');
        background-position: center center;
        background-repeat: no-repeat;
    }
    
    .line {
        margin-left: 18px !important;
        
    }

    /*PAGE REQUIREMENT*/
    .left-requirement {
        margin: 0px auto !important;
    }

    .requirement .left-requirement .sub-title-requirement {
        font-size: 60px !important;
    }


     /* PAGE NEWSLETTER */
     .newsletter {
        height: 250vh !important;   
    }

    .skull {
        margin: 50px auto !important;
    }

    .title-newsletter h1 br{
        display: none;
    }

    .title-newsletter h4 br{
        display: none;
    }

    .btn-subscribe {
        margin-top: 20px;
    }

    .footer-link .text-end{
        text-align: center !important;
    }

    .footer-end div .copyright p{
        margin: 10px auto !important;
    }

    .footer-end div .policy a{
        margin: 10px auto !important;
    }
}

@media only screen and (max-width:768px)
{
    /*HOME*/
    .text-page-1 h1 {
        font-size: 60px;
        text-align: center;        
    }

    .text-page-1 h3 {
        font-size: 20px;
        text-align: center;        
    }

    /*GALLERY*/
    .gallery {
        flex-direction: column;
        width: 100%;
        max-width: 768px;
    }

    .gallery .left-content {
        width: 100%;
        max-width: 768px;
        flex: 1 0 calc(100% - 8px);
        
    }

    .gallery .left-content .text-page-2 {
        width: 100%;
        max-width: 768px;
        align-items: center;
    }

    .gallery .right-content {
        width: 100%;
        max-width: 768px;
        flex: 1 0 calc(100% - 8px);
    }

    .gallery .right-content .scroll-slider {
        margin: -400px auto;
    }

    .carousel {
        height: 100%;
        width: 100%;
    }

    img {
        height: 350px;
        max-width: 700px;
        margin: 0px auto;
    }

    /*PAGE FEATURE*/
    .features .left-features {
        width: 0%;
        display: none;
    }

    .features .right-features {
        margin-left: 55%;
    }

    /*PAGE REQUIREMENT*/
    .left-requirement {
        margin: 0px auto;
    }

    .requirement .left-requirement .sub-title-requirement {
        font-size: 40px !important;
    }

    /*PAGE TOP SCORE*/
    .top-score .container .row .left-top-score{
        margin-top: 0px;
    }

    .top-score .container .row .right-top-score{
        margin-top: 50px;
    }

    .left-top-score {
        width: 100%;
    }

    .right-top-score {
        width: 100%;
        max-width: 765px;
    }

    .row .r-1 {
        display: flex;
        flex-direction: row;
        width: 30%;
    }

    .orange {
        height: 65% !important;
        width: 52% !important;
        margin-left: -70px !important;
        margin-top: 12px !important;
    }
    
    .profile {
        border-radius: 50%;
        margin: 10px;
        height: 60% !important;
        width: 50% !important;
        z-index: 1;
    }

    .row .r-2 {
        display: flex;
        flex-wrap: row;
        width: 40%;
    }

    .name-card {
        margin: 0px 0px 0px -50px;
    }
    
    .job-card {
        margin: 30px 0px 0px -115px !important;
    }

    .row .r-3 {
        display: flex;
        flex-wrap: row;
        width: 20%;
    }

    .twitter {
        height: 30% !important;
        width: 100% !important;
        margin: 5px 0px 0px 50px;
    }

    /*PAGE NEWSLETTER*/
    .newsletter {
        height: 280vh !important;   
    }

    .skull {
        margin: 50px auto !important;
        width: 100%;
    }

    .title-newsletter h1 br{
        display: none;
    }

    .title-newsletter h4 br{
        display: none;
    }

    .btn-subscribe {
        margin-top: 20px;
    }

    .footer-link .text-end{
        text-align: center !important;
    }

    .footer-end div .copyright p{
        margin: 10px auto !important;
    }

    .footer-end div .policy a{
        margin: 10px auto !important;
    }
}

@media only screen and (max-width:576px)
{
    /*HOME PAGE*/
    .text-page-1 h1 {
        font-size: 50px;
        text-align: center;        
    }

    .text-page-1 h3 {
        font-size: 20px;
        text-align: center;        
    }

    /*PAGE GALLERY*/
    .gallery {
        flex-direction: column;
        width: 100%;
        max-width: 576px;
    }

    .gallery .left-content {
        width: 100%;
        max-width: 576px;
        flex: 1 0 calc(100% - 8px);
    }

    .gallery .left-content .text-page-2 {
        width: 100%;
        max-width: 576px;
        align-items: center;
    }

    .gallery .right-content {
        width: 100%;
        max-width: 576px;
        flex: 1 0 calc(100% - 8px);
    }

    .gallery .right-content .scroll-slider {
        margin: -400px auto;
    }

    .carousel {
        height: 100%;
        width: 100%;
    }

    img {
        height: 250px;
        max-width: 500px;
        margin: 0px auto;
    }

    .carousel-control-prev-icon {
        margin: 0px 150px 0px 0px;
    }
    
    .carousel-control-next-icon {
        margin: 0px 0px 0px 150px;
    }

    /*PAGE FEATURE*/
    .features .left-features {
        width: 0%;
        display: none;
    }

    .features .right-features {
        margin-left: 30%;
    }

    .features .right-features h1 {
        font-size: 30px !important;
    }
    
    .features .right-features h3 {
        font-size: 15px;
    }

    .features .right-features .timeline p{
        font-size: 15px;
    }

     /*PAGE TOP SCORE*/
    .left-requirement {
        margin: 0px auto !important;
    }

    .requirement .left-requirement .sub-title-requirement {
        font-size: 40px !important;
    }

    /*PAGE NEWSLETTER*/
    .footer-end div .policy a{
        font-size: 10px !important;
    }
}









