<footer class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4 refresh">
            <button type="button" class="btn btn-link block" id="btn-refresh">
                <img src="../../refresh.png"  class="img-fluid" alt="">
            </button>
        </div>
        <div class="col-4">
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="/js/game.js"></script>

</body>
</html>