<!DOCTYPE html>
<%- include('./templateGame/headerGame',pageData); %>

<body>
    <header>
        <div class="container mt-4">
            <div class="row">
                <div class="col-sm-1" id="back">
                    <h1>
                        <a href="home"> < </a>
                    </h1>
                </div>
                <div class="col-sm-1" id="logo">
                    <img src="../assets/logo 3.png" class="img-fluid" alt="">
                </div>
                <div class="col-sm-4" id="title-header">
                    <h4>ROCK PAPER SCISSORS</h4>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="row">
            <div class="col-4 user">
                <h3 class="text-center">PLAYER 1</h3>
                <button type="button" class="btn btn-link" id="user-r" value="batu" onclick="suit(this.value)">
                    <img src="../../batu.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="user-s" value="gunting" onclick="suit(this.value)">
                    <img src="../../gunting.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="user-p" value="kertas" onclick="suit(this.value)">
                    <img src="../../kertas.png"  class="img-fluid" alt="">
                </button>
            </div>
            <div class="col-4 text-middle">
                <div id="versus">
                    <h1 class="text-center" id="text-annoucement">VS</h1>
                </div>
            </div>
            <div class="col-4 comp">
                <h3 class="text-center">COM</h3>
                <button type="button" class="btn btn-link" id="comp-r">
                    <img src="../../batu.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="comp-s">
                    <img src="../../gunting.png"  class="img-fluid" alt="">
                </button>
                <button type="button" class="btn btn-link" id="comp-p">
                    <img src="../../kertas.png"  class="img-fluid" alt="">
                </button>
            </div>
            </div>
        </div>
    </main>

<%- include('./templateGame/footerGame'); %>
