<%- include('./templateHome/headerHome',pageData); %>

<body>
    <!-- PAGE HOME -->
    <header class="header" id="headerNavbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="login">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SIGN UP</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="text-page-1">
            <h1 class="main-title">PLAY TRADITIONAL GAME</h1>
            <h3 class="mini-title">Experience new traditional game play</h3>
            <a href="game" class="btn btn-warning btn-lg btn-play">PLAY NOW</a>
            <div class="scroll-down">
                <a class="btn-scroll-down" href="#gallery">
                    <p class="text-scroll-down">THE STORY</p>
                    <i class="img-scroll-down"></i>
                </a>
            </div>
        </div>
    </header>

    <!-- PAGE GALLERY -->
    <main class="gallery" >
        <div class="left-content">
            <div class="text-page-2">
                <h3 class="main-question" id="gallery">What's so special?</h3>
                <h1 class="mini-question">THE GAMES</h1>
            </div>
        </div>
        <div class="right-content">
            <div class="scroll-slider">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                        </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div> 
        </div>
    </main>

    <!-- PAGE FEATURES -->
    <main class="features" id="features">
        <div class="left-features">

        </div>
        <div class="right-features">
            <h3 class="main-question">What's so special?</h3>
            <h1 class="mini-question">FEATURES</h1>
            <div class="timeline">
                <p class="text-f-3"><img src="../ellipse.svg" alt="" class="el-1">TRADITIONAL GAMES</p>
                <div class="line">
                    <p>if u miss your childhood, we provide many <br>tradiotional game here</p>
                </div>
                <p class="text-f-2"><img src="../ellipse-outline.svg" alt="" class="el-2">GAMES SUIT</p>
                <p class="text-f-3"><img src="../ellipse-outline.svg" alt="" class="el-3">TBD</p>
            </div>
        </div>
    </main>

    <!-- PAGE REQUIREMENT -->
    <main class="requirement" id="requirement">
        <p class="title-requirement fw-light">Can My Computer Run this game ?</p>
        <div class="left-requirement">
            <h1 class="sub-title-requirement">SYSTEM<br>REQUIREMENT</h1>
            <div class="col-lg-5">
                <table class="table table-bordered border-secondary">
                    <tbody>
                        <tr>
                            <td>
                                <h4>OS :</h4>
                                <p class="text-white">Windows 7 64-bit only<br>(No OSX support at this time)</p>
                            </td>
                            <td>
                                <h4>PROCESSOR:</h4>
                                <p class="text-white">Intel Core 2 Duo @2.4GHz or <br>AMD Athlon X2 @ 2.8GHz</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>MEMORY:</h4>
                                <p class="text-white">4 GB RAM</p>
                            </td>
                            <td>
                                <h4>STORAGE:</h4>
                                <p class="text-white">8 GB available space</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h4>GRAPHICS:</h4>
                                <p class="text-white">NVIDIA GeForce GTX 660 2GB or <br>
                                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model S)
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- PAGE TOP-SCORE -->
    <main class="top-score" id="top-score">
        <div class="container">
            <div class="row">
                <div class="left-top-score col-md-5">
                    <h1 class="text-white fw-light">TOP SCORED</h1>
                    <p class="text-white fw-light">This top score from various games provided <br>on this platform</p>
                    <div class="btn-top-score d-grid gap-2 col-6">
                        <a href="#headerNavbar" class="btn btn-lg btn-warning ">See more</a>
                    </div>
                </div>
                <div class="right-top-score col-md-7" id="card-top-score">
                    <div class="container">
                        <div class="row card-box justify-content-end">
                            <div class="col-md-10">
                                <div class="card bg-dark">
                                    <div class="row">
                                        <div class="col-md-3 r-1">
                                            <img src="../evan-lahti.jpg" class="profile card-img-top" alt="...">
                                            <div class="orange"></div>
                                        </div>
                                        <div class="col-md-6 py-3 r-2">
                                            <h4 class="name-card">Evan Lathi</h4>
                                            <p class="text-muted job-card">PC Gamer</p>
                                        </div>
                                        <div class="col-md-3 py-3 r-3">
                                            <img src="../twitter.svg" class="twitter card-img-top" alt="...">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <p class="card-text text-white">"One of my gaming highlights of the year."</p>
                                      <p class="card-text text-muted date">June 18, 2021</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card-box justify-content-start">
                            <div class="col-md-10">
                                <div class="card bg-dark">
                                    <div class="row">
                                        <div class="col-md-3 r-1">
                                            <img src="../jada-griffin.jpg" class="profile card-img-top" alt="...">
                                            <div class="orange"></div>
                                        </div>
                                        <div class="col-md-6 py-3 r-2">
                                            <h4 class="name-card">Jada Griffin</h4>
                                            <p class="text-muted job-card">Nerdreactor</p>
                                        </div>
                                        <div class="col-md-3 py-3 r-3">
                                            <img src="../twitter.svg" class="twitter card-img-top" alt="...">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <p class="card-text text-white"> "The next big thing in the world of streaming <br>and survival
                                        games."</p>
                                      <p class="card-text text-muted date">December 21, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row card-box justify-content-center">
                            <div class="col-md-10">
                                <div class="card bg-dark">
                                    <div class="row">
                                        <div class="col-md-3 r-1">
                                            <img src="../aaron-williams.jpg" class="profile card-img-top" alt="...">
                                            <div class="orange"></div>
                                        </div>
                                        <div class="col-md-6 py-3 r-2">
                                            <h4 class="name-card">Aaron Williams</h4>
                                            <p class="text-muted job-card">Uproxx</p>
                                        </div>
                                        <div class="col-md-3 py-3 r-3">
                                            <img src="../twitter.svg" class="twitter card-img-top" alt="...">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                      <p class="card-text text-white">"Snoop Dogg Playing The Wildly Entertaining <br>'SOS' Is
                                        Ridiculous</p>
                                      <p class="card-text text-muted date">December 24, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

<%- include('./templateHome/footerHome'); %>
