<%- include('./templateLogin/headerLogin',pageData); %>

<body>
    <header class="header" id="headerNavbar">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="home">LOGO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">WORK</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ABOUT</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="#">LOGIN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">SIGN UP</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="form-container">
            <h1>Login Form</h1>
            <% if(status === 412) { %>

                <div class="alert alert-danger" role="alert">
                    Missing fields! Username and password is required.
                </div>

            <% } else if(status === 500) { %>
                
                <div class="alert alert-danger" role="alert">
                    User not found!
                </div>

            <% } %>
            <form action="/login" method="post">
                <div class="control">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" placeholder="Username">
                </div>

                <div class="control pb-4">
                    <label for="password">Password</label>
                    <input type="text" name="password" id="password" placeholder="Password">
                </div>

                <div class="control">
                    <input type="submit" value="Login">
                </div>    
            </form>
        </div>
    </header>
</body>
</html>
