<%- include('../templates/header',pageData); %>

<body>
    <h1><center>DETAIL DATA USER GAME</center></h1>
    <hr>
    <br>
    <a class="btn btn-primary mb-4" href="/user/index" role="button">BACK</a>
    <br>
    <h1><center>BIODATA GAMES</center></h1>
        <table class="table">
            <thead class="thead-dark" style="background-color: black;color:white;">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Country</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody>

            <% if (biodata) { %>
                <tr>
                    <td scope="row"><%= b_number++ %></td>
                    <td><%= biodata.name %></td>
                    <td><%= biodata.email %></td>
                    <td><%= biodata.country %></td>
                </tr>
            <% } else { %>
                <tr>
                    <td colspan="4">Tidak ada data</td>
                </tr>
            <% } %>
          
            </tbody>
          </table>


        <table class="table">
            <thead class="thead-dark" style="background-color: black;color:white;">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Game Name</th>
                <th scope="col">Playing Time</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>

            <h1><center>HISTORY GAMES</center></h1>
            <% if (history) { %>
                <% history.forEach(function (h) { %>
                    <tr>
                        <td scope="row"><%= h_number++ %></td>
                        <td scope="row"><%= h.game_name %></td>
                        <td><%= h.playing_time %></td>
                        <td><%= h.score %></td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="5">Tidak ada data</td>
                </tr>
            <% } %>
          
            </tbody>
          </table>
          
         
</body>
<%- include('../templates/footer'); %>