<%- include('../templates/header',pageData); %>

<body>
    <h1><center>UPDATE USER</center></h1>
    <hr>
    <a class="btn btn-primary mb-4" href="/user/index" role="button">BACK</a>

    <form action="/user/edit/<%= data.id %>" method="post">
        <span>Username</span>
        <input type="text" name="username" id="username" value="<%= data.username %>">
        
        <br>
        
        <span>Password</span>
        <input type="text" name="password" id="password" value="<%= data.password %>">
        
        <br>
        
        <input type="submit" value="simpan">
    </form>
</body>
<%- include('../templates/footer'); %>