<%- include('../templates/header',pageData); %>
<body>
    <h1><center>DATA PLAYER</center></h1>
    <hr>
    <br>
    <!-- <button type="button" class="btn btn-primary mb-4"><a href="/sales/new"></a>ADD</button> -->
    <a class="btn btn-primary mb-4" href="/user/new" role="button">ADD</a>
    <br>
        <table class="table">
            <thead class="thead-dark" style="background-color: black;color:white;">
              <tr>
                <th scope="col">No.</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>

            <% if (data) { %>
                <% data.forEach(function (d) { %>
                    <tr>
                        <td scope="row"><%= number++ %></td>
                        <td scope="row"><%= d.username %></td>
                        <td><%= d.password %></td>
                        <td><a class="btn btn-info" href="/user/detail/<%= d.id %>" role="button">Detail</a> 
                            <a class="btn btn-warning" href="/user/edit/<%= d.id %>" role="button">Update</a>  
                            <a class="btn btn-danger" href="/user/delete/<%= d.id %>" role="button">Delete</a>                        
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="5">Tidak ada data</td>
                </tr>
            <% } %>
          
            </tbody>
          </table>
          
         
</body>
<%- include('../templates/footer'); %>