<%- include('../templates/header',pageData); %>

<body>
    <h1><center>USER NEW</center></h1>
    <hr>
    <% if(status === 500) { %>
        <h1>Input Salah</h1>
    <% } %>
    <form action="/register/admin" method="post">
        <span>Username</span>
        <input type="text" name="username" id="username">
        
        <br>
        
        <span>Password</span>
        <input type="text" name="password" id="password">
        
            <br>

        <input type="submit" value="tambah">
    </form>

</body>
<%- include('../templates/footer'); %>