<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.js"></script>
    
    <title><%= pageTitle %></title>
    <meta name="title" content="<%= pageTitle %>">
    <meta name="description" content="<%= pageDescription %>">
</head>
